{% extends 'base.html.twig' %}

{% block body %}
    Un e-mail comportant un lien de réinitialisation de votre mot passe vous a été envoyé à l'adresse e-mail que vous nous avez communiqué.
{% endblock %}